<mat-card>
    <mat-action-list>
        <h3 class="text-center">Menu</h3>
        <button mat-list-item routerLink="/admin">
            <mat-icon class="icon-color" matListItemIcon>home</mat-icon> Home </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon class="icon-color" matListItemIcon>account_circle</mat-icon> Profile </button>
        <button mat-list-item routerLink="/admin/categories">
            <mat-icon class="icon-color" matListItemIcon>list</mat-icon> Categories </button>
        <button mat-list-item routerLink="/admin/add-category">
            <mat-icon class="icon-color" matListItemIcon>add_circle_outline</mat-icon> Add Category </button>
        <button mat-list-item routerLink="/admin/quizzes">
            <mat-icon class="icon-color" matListItemIcon>quiz</mat-icon> Quizzes </button>
        <button mat-list-item routerLink="/admin/add-quiz">
            <mat-icon class="icon-color" matListItemIcon>add</mat-icon> Add Quiz </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon class="icon-color" matListItemIcon>logout</mat-icon> Log Out </button>
    </mat-action-list>
</mat-card>